name: Python Host

on:
  push:
    branches: [ "src" ]
  pull_request:
    branches: [ "src" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependecacies
      run:
        pip3 install colorama
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Run Python 3.10
      run:
        python3 main.py
